<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBE2qsmhPSQarfcch3is-5LNWRlpDGDwiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>558649711425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hanbatmarket</string>
	<key>PROJECT_ID</key>
	<string>hanbatmarketfcm</string>
	<key>STORAGE_BUCKET</key>
	<string>hanbatmarketfcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558649711425:ios:a3ca1a15c0dbcdcdf39fc0</string>
</dict>
</plist>